

.cadre-voiture{
  height: auto;
}
hr{
  background-color: var(--alpine-color);
  width: 100%;
}
.logo2{
  width: 10%;
}
.header{
  background-color: white;
}
.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#app{
  margin-top: 2%;
}
.slash{
  height: 10vh;
  transform: skew(-20deg);
  border: 1px solid var(--alpine-color);
  width: 0.0000001%;
}
.choice-car{
  transform: skew(-15deg);
}
/*--------------------
  COULEUR
----------------------*/  
.choix-couleur img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1) skew(-15deg);
}
.choix-couleur img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transform: skew(-15deg);
}



/*--------------------
  JANTES
----------------------*/  
.jantes img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.jantes img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*--------------------
  SELLERIE
----------------------*/  
.sellerie img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
.sellerie img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*--------------------
  EQUIPEMENTS
----------------------*/  
.equipements img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.equipements img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}

/*--------------------
  ACCESSOIRES
----------------------*/  
.transport{
  margin-top: 5%;
}
#accessoire{
  margin-bottom: 50vh;
}

.accessoires img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.accessoires img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}
/*--------------------
  CAROUSEL
----------------------*/  
.carousel{
  margin-top: 0px;
  margin-left: 0px;
}
.carousel-control-prev{
  width: 5%;
}
.carousel-control-next{
  width: 5%;
}
.carousel-control-prev-icon{
  background-color: black;
}
.carousel-control-next-icon{
  background-color: black;
}
.selected{
  border: 3px solid #00F000;
}



/*--------------------
  FOOTER
----------------------*/  

.footer{
  background-color: var(--alpine-color);
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
.badge{
  margin: 0.5%;
}

.badge-secondary{
  background-color: #00F000!important;
}

.margin-auto{
  margin: 0 auto;
}

.badge-inclus{
  background-color: #00F000!important;
}
.badge-prix{
  background-color: #D200C4!important;
}
@media (max-width: 768px) {
  .options span{
    display: none;
  }
  .slash{
    display: none;
  }
}
