@font-face {
    font-family: alpine-vision;
    src: url(AlpineVision-Regular.woff);
  }
  @font-face {
    font-family: alpine-air;
    src: url(AlpineAscensionAir-Regular.woff);
  }
  @font-face {
    font-family: alpine-air-light;
    src: url(AlpineAscensionAir-Light.woff);
  }
  
.font-alpine{
font-family: alpine-vision;
color: var(--alpine-color);
}
.font-alpine-air{
font-family: alpine-air;
}
.font-alpine-light{
    font-family: alpine-air-light;
    color: var(--alpine-color);
    font-size: 1.2em;
}
.font-white{
  color: white;
}

.zindexed1{
  z-index: 1;
}
.zindexed2{
  z-index: 2;
}
.zindexed3{
  z-index: 3;
}
.zindexed4{
  z-index: 4;
}
