:root {
    --nav-height: 3em;
    --nav-background-hover: whitesmoke;
    --nav-background: #2e2e2e;
    --nav-color-hover: #2e2e2e;
    --alpine-color: #2256af;
    --rouge-france: #FF0000;
    --background-blue: #005bbb;
  }
*{
font-size : 1em;  
}


/*----------------------
  NAVBAR
    basic navbar styling
  ----------------------*/


.navbar-brand img{
  max-width: 70%;
}

nav {
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.025em;
  background: var(--alpine-color);
  z-index: 9;
}

.nav-item{
  background: var(--alpine-color);
  z-index: 9;

}

.nav-link{
  color: white;
  z-index: 9;

}

nav ul {
  text-align: center;
  margin: 0;
  transform: skew(-25deg);
  z-index: 9;

}

nav ul li {
 display: inline-block;
 border-right: solid 2px white;
 z-index: 9;

}

nav ul li a{
    margin: auto;
  z-index: 9;

}

nav ul li:hover {
    background: var(--nav-background-hover);
  z-index: 9;

}

nav ul li a:hover {
    color: var(--nav-color-hover);
    font-weight: bold;
}

.navbar{
    padding: 0px;
    height: 60px;
    z-index: 9;
}

.logo{
    margin-right: 1em;
    margin-left: 0.5em;
    z-index: 9;
}
.navbar-fixed {
  position: fixed;
  top: var(--nav-height);
  background-color: var(--alpine-color);
  height: 0px;
  margin-top: 1em;
  }
/*----------------------
  BODY
  ----------------------*/

html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.section-height{
    height: 100vh;
}

/*----------------------
  SECTION 1
  ----------------------*/

.section-1{
  background-image: url("../images/sources-homepage/A110/Alpine-A110-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
.text-section1{
  position: relative;
  margin-top: 0;
  margin-right: 15%;
  color: #0F0908;
  font-weight: bold;
  font-size: 1.1rem;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: slide-right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;

}
.titre-section1{
  margin-right: 10%;
  color: white;
  position: relative;
  margin-top: 15%;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: slide-right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

/*----------------------
  SECTION 2
  ----------------------*/

.section-2{
  height: 50vw;
  background-image: url("../images/sources-homepage/design/Moteur_desktop.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 120%;
}

#text1{
  color: black;
  margin: 5em;
  display: none;
  background-color: rgba(255, 255, 255, 0.75);
}
#text2{
  display: none;
  margin: 5em;
  background-color: rgba(255, 255, 255, 0.7);
}
.separateur{
  margin-top: -10px;
  background-color: var(--alpine-color);
  height: 10px;
  transform: skew(-20deg);
}
.card-body{
  width: 20vw;
  height: 25vw;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
        
  }
}

/*----------------------
 Bandeau
  ----------------------*/

.bandeau-droite{
  background-color: var(--alpine-color);
  height: 10px;
  width: 59.8%;
  transform: skew(-20deg);
}
.bandeau-centre{
  width: 6.4%;
}
.bandeau-gauche{
  background-color: var(--rouge-france);
  height: 10px;
  width: 33.8%;
  transform: skew(-20deg);
}

/*----------------------
 SECTION 3
  ----------------------*/
.chassis{
  height: 30vh;
  position: relative;
}

 .fond-bleu{
   margin-top: 15vh;
   background-color: var(--background-blue);
   transform: rotate(-5deg);
   width: 140%;
   height: 30vh;
   position: relative;
   left: -50px;
   top: 50px;
 }

 .fond-bleu2{
  margin-top: 10vh;
  background-color: var(--background-blue);
  transform: rotate(-5deg);
  width: 140%;
  height: 30vh;
  position: relative;
  left: -50px;
  top: 100px;
}

 .carousel-first{
   position: relative;
   margin-left: 10vw;
   margin-top: -150px;
 }
 .desc-conception{
   margin-top: 12%;
 }
.carousel{
  width: 100%;
  
}
.desc-conception h3{
  color: var(--alpine-color);
}
.section-3 h2{
  color: var(--alpine-color);
}

#conception-paralax{
  background-image: url("../images/sources-homepage/conception/visuel_legerete_2_desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 50vh;
}

/*----------------------
 SECTION 4
  ----------------------*/
#section-4-text {
  margin-top: 5em;
}
.section-4 h2{
  margin-top: -3%;
  padding-bottom: 5%;
}


/*----------------------
 SECTION 5
  ----------------------*/

.text-section-5{
  color: var(--alpine-color);
}
.desc-section-5{
  color: var(--alpine-color);
  width: 35%;
  font-size: 1.2em;
}
.slash{
  height: 15vh;
  transform: skew(-20deg);
  border: 1px solid var(--alpine-color);
  width: 0.0000001%;
}

/*----------------------
 SECTION 6
  ----------------------*/
.fond-bleu-3{
  margin-top: 15vh;
  background-color: var(--background-blue);
  transform: rotate(5deg);
  width: 140%;
  height: 30vh;
  position: absolute;
  margin-top: -150px;
  left: -50px;

}


/*----------------------
 SECTION 7
  ----------------------*/
.tableau li{
  list-style-type: none;
}
.titre-tableau{
  color: var(--alpine-color);
  font-weight: bold;
}
.desc-tableau{
  color: black;
  font-weight: bold;
}
.btn-indigo{
  margin-top: 100px;
}

/*----------------------
 SECTION 8
  ----------------------*/


/*----------------------
 GALERIE PHOTO
  ----------------------*/
.background-blue{
  background-color: var(--background-blue);
}

.margin-left{
  margin-left:4vw;
}
.margin-top{
  margin-top: 4vw;
}

.img-fluid{
  margin-bottom: 1em;
}
.section-9 .img-fluid{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 2;
}
.section-9 .img-fluid:hover{

  -webkit-transform: scale(1.02);
	transform: scale(1.02);
}
.up-galerie{
  position: relative;
  top: -255px;
}

.fond-bleu-galerie{
  background-color: var(--background-blue);
  transform: rotate(-5deg);
  width: 150%;
  height: 40vh;
  position: relative;
  left: -50px;
  top: 50px;
}
.fond-bleu-galerie2{
  background-color: var(--background-blue);
  transform: rotate(-5deg);
  width: 150%;
  height: 40vh;
  position: absolute;
  left: -50px;
  margin-top: -7%;
  z-index: 1;
}
.modal-dialog{
  width: 90%;
  max-width: 90%;
}
.zindexed-3{
  z-index: 2;
}
.zindexed-1{
  z-index: 1;
}



@media only screen and (min-device-width: 0px) and (max-device-width: 759px) {
 
  .slash{
    display: none;
  }
  .siege{
    display: none;
  }
}



